package org.purpleBean.kmip.{{pkg_dot}};

import lombok.Builder;
import lombok.Data;
import lombok.NonNull;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.structure.*;
import org.purpleBean.kmip.common.enumeration.*;

import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Set;
import java.util.stream.Collectors;
import java.util.stream.Stream;

/**
 * KMIP {{class_name}} attribute structure.
 *
 * <p>Represents a {{class_name}} in KMIP.</p>
 */
@Data
@Builder(toBuilder = true)
public class {{class_name}} implements KmipStructure, KmipAttribute {

    public static final KmipTag kmipTag = new KmipTag(KmipTag.Standard.{{class_snake}});
    public static final EncodingType encodingType = EncodingType.STRUCTURE;
    private static final Set<KmipSpec> supportedVersions = Set.of(KmipSpec.UnknownVersion, KmipSpec.V1_2);

    static {
        for (KmipSpec spec : supportedVersions) {
            if (spec == KmipSpec.UnknownVersion || spec == KmipSpec.UnsupportedVersion) continue;
            KmipDataType.register(spec, kmipTag.getValue(), encodingType, {{class_name}}.class);
            KmipAttribute.register(spec, kmipTag.getValue(), encodingType, {{class_name}}.class, {{class_name}}::of);
        }
    }

    // TODO: Add the fields for the structure attribute here.
    // For example:
    // @NonNull
    // private final HashingAlgorithm hashingAlgorithm;
    // private final DigestValue digestValue;

    public {{class_name}}(
            // TODO: Add the constructor parameters here.
    ) {
        // TODO: Initialize the fields here.
    }

    public static {{class_name}} of(@NonNull AttributeName attributeName, @NonNull AttributeValue.Value attributeValue) {
        if (attributeValue.getEncodingType() != encodingType || !(attributeValue instanceof AttributeValue.Structure structure)) {
            throw new IllegalArgumentException("Invalid attribute value");
        }

        Map<KmipTag, List<KmipDataType>> map = structure.getValue().stream().collect(Collectors.groupingBy(KmipDataType::getKmipTag));
        return {{class_name}}.builder()
        // TODO: Add the logic to build the object from the fields.
        // For example, for a singular field:
        //    .hashingAlgorithm((HashingAlgorithm) map.get(HashingAlgorithm.kmipTag).get(0))
        // For example, for a repeated field:
        //    .certificateIssuerAlternativeNames(map.get(CertificateIssuerAlternativeName.kmipTag).stream().map(e -> (CertificateIssuerAlternativeName) e).collect(Collectors.toList()))
            .build();
    }

    @Override
    public KmipTag getKmipTag() {
        return kmipTag;
    }

    @Override
    public EncodingType getEncodingType() {
        return encodingType;
    }

    @Override
    public List<KmipDataType> getValues() {
        // TODO: Return a list of the structure's fields.
        // For example:
        // return Stream.of(hashingAlgorithm, digestValue, keyFormatType).filter(Objects::nonNull).toList();
        return List.of();
    }

    @Override
    public boolean isSupported() {
        KmipSpec spec = KmipContext.getSpec();
        return supportedVersions.contains(spec)
                            && getValues().stream().allMatch(KmipDataType::isSupported);
    }

    @Override
    public boolean isAlwaysPresent() {
        return false;
    }

    @Override
    public boolean isServerInitializable() {
        return true;
    }

    @Override
    public boolean isClientInitializable() {
        return false;
    }

    @Override
    public boolean isServerModifiable(State state) {
        return false;
    }

    @Override
    public boolean isClientModifiable(State state) {
        return false;
    }

    @Override
    public boolean isClientDeletable() {
        return false;
    }

    @Override
    public boolean isMultiInstanceAllowed() {
        return true;
    }

    @Override
    public String getCanonicalName() {
        return getAttributeName().getValue();
    }

    @Override
    public AttributeValue.Value getAttributeValue() {
        return AttributeValue.Structure.of(getValues());
    }

    @Override
    public AttributeName getAttributeName() {
        return AttributeName.of(StringUtils.covertPascalToTitleCase(kmipTag.getDescription()));
    }

    public static class {{class_name}}Builder {
        public {{class_name}} build() {
            validate();
            // TODO: Return a new instance of the structure attribute.
            return new {{class_name}}(
                    // TODO: Pass the builder fields to the constructor.
            );
        }

        private void validate() {
            // TODO: Add validation logic for the fields.
            // For example:
            // Objects.requireNonNull(hashingAlgorithm, "HashingAlgorithm cannot be null");
        }
    }
}
