package org.purpleBean.kmip.codec.{{format}}.{{pkg_dot}};

import org.junit.jupiter.api.DisplayName;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.structure.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.{{pkg_dot}}.{{class_name}};
import org.purpleBean.kmip.test.suite.Abstract{{format_pascal}}SerializationSuite;

@DisplayName("{{class_name}} {{format_pascal}} Serialization Tests")
class {{suite_name}} extends Abstract{{format_pascal}}SerializationSuite<{{class_name}}> {

    @Override
    protected Class<{{class_name}}> type() {
        return {{class_name}}.class;
    }

    @Override
    protected {{class_name}} createDefault() {
        // TODO: Create a default instance of the structure attribute.
        // For example:
        // return {{class_name}}.builder()
        //         .hashingAlgorithm(new HashingAlgorithm(HashingAlgorithm.Standard.SHA_256))
        //         .digestValue(DigestValue.of(new byte[0]))
        //         .keyFormatType(new KeyFormatType(KeyFormatType.Standard.PKCS_1))
        //         .build();
        return null;
    }
}
