package org.purpleBean.kmip.benchmark.subjects.{{pkg_dot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.structure.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.benchmark.api.KmipBenchmarkSubject;
import org.purpleBean.kmip.{{pkg_dot}}.{{class_name}};

public class {{class_name}}BenchmarkSubject extends KmipBenchmarkSubject<{{class_name}}> {

    public {{class_name}}BenchmarkSubject() throws Exception {
        // TODO: Create a new instance of the structure attribute.
        // For example:
        // {{class_name}} {{var_name}} = {{class_name}}.builder()
        //         .hashingAlgorithm(new HashingAlgorithm(HashingAlgorithm.Standard.SHA_256))
        //         .digestValue(DigestValue.of(new byte[0]))
        //         .keyFormatType(new KeyFormatType(KeyFormatType.Standard.PKCS_1))
        //         .build();
        // initialize({{var_name}}, {{class_name}}.class);
    }

    @Override
    public String name() {
        return "{{class_name}}";
    }

    @Override
    public void setup() throws Exception {
        KmipContext.setSpec(spec);
    }

    @Override
    public void tearDown() {
        KmipContext.clear();
    }
}
