package org.purpleBean.kmip.codec.xml.deserializer.kmip.{{pkg_dot}};

import com.fasterxml.jackson.core.JsonParser;
import com.fasterxml.jackson.core.ObjectCodec;
import com.fasterxml.jackson.databind.DeserializationContext;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.dataformat.xml.deser.FromXmlParser;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.structure.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.codec.xml.deserializer.kmip.KmipDataTypeXmlDeserializer;
import org.purpleBean.kmip.{{pkg_dot}}.{{class_name}};

import java.io.IOException;
import java.util.Map;

public class {{class_name}}XmlDeserializer extends KmipDataTypeXmlDeserializer<{{class_name}}> {
    private final KmipTag kmipTag = {{class_name}}.kmipTag;
    private final EncodingType encodingType = {{class_name}}.encodingType;

    @Override
    public {{class_name}} deserialize(JsonParser p, DeserializationContext ctxt) throws IOException {
        ObjectCodec codec = p.getCodec();
        JsonNode node = codec.readTree(p);

        if (!node.isObject()) {
            ctxt.reportInputMismatch({{class_name}}.class, "Expected XML object for {{class_name}}");
            return null;
        }

        if (p instanceof FromXmlParser xmlParser
                && !kmipTag.getDescription().equalsIgnoreCase(xmlParser.getStaxReader().getLocalName())) {
            ctxt.reportInputMismatch({{class_name}}.class, "Invalid Tag for {{class_name}}");
            return null;
        }

        KmipSpec spec = KmipContext.getSpec();
        {{class_name}}.{{class_name}}Builder builder = {{class_name}}.builder();

        // Process all fields in the XML
        for (Map.Entry<String, JsonNode> entry : node.properties()) {
            KmipTag.Value nodeTag = KmipTag.fromName(spec, entry.getKey());
            setValue(builder, nodeTag, entry.getValue(), p, ctxt);
        }

        {{class_name}} {{class_lower}} = builder.build();

        if (!{{class_lower}}.isSupported()) {
            ctxt.reportInputMismatch({{class_name}}.class, "{{class_name}} not supported for spec " + spec);
            return null;
        }

        return {{class_lower}};
    }

    /**
     * Sets the appropriate field in the builder based on the tag and value.
     *
     * @param builder the builder to set the field on
     * @param nodeTag the tag identifying the field to set
     * @param node    the XML node containing the field value
     * @param p       the JsonParser
     * @param ctxt    the DeserializationContext
     * @throws IOException if there is an error deserializing the value
     */
    private void setValue(
            {{class_name}}.{{class_name}}Builder builder,
            KmipTag.Value nodeTag,
            JsonNode node,
            JsonParser p,
            DeserializationContext ctxt
    ) throws IOException {
        // TODO: Add cases for each field in the structure attribute.
        // For example:
        // switch (nodeTag) {
        //     case KmipTag.Standard.HASHING_ALGORITHM -> builder.hashingAlgorithm(p.getCodec().treeToValue(node, HashingAlgorithm.class));
        //     case KmipTag.Standard.DIGEST_VALUE -> builder.digestValue(p.getCodec().treeToValue(node, DigestValue.class));
        //     case KmipTag.Standard.KEY_FORMAT_TYPE -> builder.keyFormatType(p.getCodec().treeToValue(node, KeyFormatType.class));
        //     default -> throw new IllegalArgumentException("Unsupported tag: " + nodeTag);
        // }
    }
}
