package org.purpleBean.kmip.{{pdot}};

import lombok.Builder;
import lombok.Data;
import lombok.NonNull;
import lombok.Singular;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.api.*;
import org.purpleBean.kmip.model.*;
import org.purpleBean.kmip.model.core.enumeration.*;
import org.purpleBean.kmip.model.core.structure.*;
import org.purpleBean.kmip.model.core.type.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import java.util.List;
import java.util.Objects;
import java.util.Set;

/**
 * KMIP {{ATTRIBUTE_NAME}} attribute structure.
 */
@Data
@Builder(toBuilder = true)
public class {{ATTRIBUTE_NAME}} implements KmipStructure, KmipAttribute {
    public static final KmipTag kmipTag = KmipTag.Standard.{{ATTRIBUTE_NAME_SNAKE}}.inst();
    private static final Set<KmipSpec> supportedVersions = Set.of(KmipSpec.UnknownVersion, KmipSpec.V1_2); // TODO: Adjust supported versions

    static {
        for (KmipSpec spec : supportedVersions) {
            if (spec == KmipSpec.UnknownVersion || spec == KmipSpec.UnsupportedVersion) continue;
            KmipDataType.register(spec, kmipTag.getValue(), encodingType, {{ATTRIBUTE_NAME}}.class);
            KmipAttribute.register(spec, kmipTag.getValue(), encodingType, {{ATTRIBUTE_NAME}}.class, {{ATTRIBUTE_NAME}}::of);
        }
    }

    // TODO: Adjust as needed
    @NonNull
    @Singular
    private final List<KmipDataType> values;

    public static {{ATTRIBUTE_NAME}} of(@NonNull List<KmipDataType> values) {
        return {{ATTRIBUTE_NAME}}.builder().values(values).build();
    }

    // TODO: Remove if not required
    public static {{ATTRIBUTE_NAME}} of(@NonNull KmipDataType... values) {
        return of(List.of(values));
    }

    public static {{ATTRIBUTE_NAME}} of(@NonNull AttributeName attributeName, @NonNull AttributeValue attributeValue) {
        if (attributeValue.getEncodingType() != encodingType || !(attributeValue instanceof AttributeValueStructure structure)) {
            throw new IllegalArgumentException("Invalid attribute value");
        }
        Map<KmipTag, List<KmipDataType>> map = structure.getValues().stream().collect(Collectors.groupingBy(KmipDataType::getKmipTag));
        // TODO: Adjust as needed
        // Example:
        // return AlternativeName.builder()
        //         .alternativeNameValue((AlternativeNameValue) map.get(AlternativeNameValue.kmipTag).get(0))
        //         .alternativeNameType((AlternativeNameType) map.get(AlternativeNameType.kmipTag).get(0))
        //         .build();
        return of(structure.getValues());
    }

    @Override
    public KmipTag getKmipTag() {
        return kmipTag;
    }

    @Override
    public EncodingType getEncodingType() {
        return encodingType;
    }

    @Override
    public boolean isSupported() {
        KmipSpec spec = KmipContext.getSpec();
        return supportedVersions.contains(spec) && getValues().stream().allMatch(KmipDataType::isSupported);
    }

    @Override
    public List<KmipDataType> getValues() {
        // TODO: Adjust as needed
        // Example:
        // return List.of(alternativeNameValue, alternativeNameType);
        return values.stream().filter(Objects::nonNull).toList();
    }

    @Override
    public AttributeValue getAttributeValue() {
        return AttributeValueStructure.of(getValues());
    }

    @Override
    public AttributeName getAttributeName() {
        return AttributeName.of(StringUtils.covertPascalToTitleCase(kmipTag.getDescription()));
    }

    @Override
    public String getCanonicalName() {
        return getAttributeName().getValue();
    }

    @Override
    public boolean isAlwaysPresent() {
        return false; // TODO: Adjust as needed
    }

    @Override
    public boolean isServerInitializable() {
        return false; // TODO: Adjust as needed
    }

    @Override
    public boolean isClientInitializable() {
        return false; // TODO: Adjust as needed
    }

    @Override
    public boolean isServerModifiable(@NonNull State state) {
        return false; // TODO: Adjust as needed
    }

    @Override
    public boolean isClientModifiable(@NonNull State state) {
        return false; // TODO: Adjust as needed
    }

    @Override
    public boolean isClientDeletable() {
        return false; // TODO: Adjust as needed
    }

    @Override
    public boolean isMultiInstanceAllowed() {
        return false; // TODO: Adjust as needed
    }

    public static class {{ATTRIBUTE_NAME}}Builder {
        public {{ATTRIBUTE_NAME}} build() {
            validate();
            return new {{ATTRIBUTE_NAME}}();
        }

        private void validate() {
            // TODO: validate if required
            // Objects.requireNonNull(alternativeNameValue, "AlternativeNameValue cannot be null");
            // Objects.requireNonNull(alternativeNameType, "AlternativeNameType cannot be null");
        }
    }
}
