package org.purpleBean.kmip.codec.json.serializer.kmip.{{SUB_PATH}};

import com.fasterxml.jackson.core.JsonGenerator;
import com.fasterxml.jackson.databind.SerializerProvider;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.codec.json.serializer.kmip.KmipDataTypeJsonSerializer;
import org.purpleBean.kmip.common.{{ATTRIBUTE_NAME}};

import java.io.IOException;
import java.io.UnsupportedEncodingException;

/**
 * JSON serializer for {{ATTRIBUTE_NAME}}.
 */
public class {{ATTRIBUTE_NAME}}JsonSerializer extends KmipDataTypeJsonSerializer<{{ATTRIBUTE_NAME}}> {

    @Override
    public void serialize({{ATTRIBUTE_NAME}} {{ATTRIBUTE_VAR}}, JsonGenerator gen, SerializerProvider serializerProvider) throws IOException {
        // Validation: Null check
        if ({{ATTRIBUTE_VAR}} == null) {
            return;
        }

        // Validation: KMIP spec compatibility
        KmipSpec spec = KmipContext.getSpec();
        if (!{{ATTRIBUTE_VAR}}.isSupported()) {
            throw new UnsupportedEncodingException(
                    String.format("%s is not supported for KMIP spec %s", {{ATTRIBUTE_VAR}}.getKmipTag().getDescription(), spec)
            );
        }

        gen.writeStartObject();
        gen.writeObject({{ATTRIBUTE_VAR}}.getKmipTag());
        gen.writeStringField("type", {{ATTRIBUTE_VAR}}.getEncodingType().getDescription());
        gen.writeObjectField("value", {{ATTRIBUTE_VAR}}.getValue());
        gen.writeEndObject();
    }
}
