package org.purpleBean.kmip.benchmark.subjects.{{SUB_PATH}};

import org.purpleBean.kmip.KmipContext;
import org.purpleBean.kmip.benchmark.api.KmipBenchmarkSubject;
import org.purpleBean.kmip.common.{{ATTRIBUTE_NAME}};

import java.time.OffsetDateTime;
import java.time.ZoneOffset;

public class {{ATTRIBUTE_NAME}}BenchmarkSubject extends KmipBenchmarkSubject<{{ATTRIBUTE_NAME}}> {

    public {{ATTRIBUTE_NAME}}BenchmarkSubject() throws Exception {
        {{ATTRIBUTE_NAME}} {{ATTRIBUTE_VAR}} = {{ATTRIBUTE_NAME}}.builder()
                .{{FIELD_NAME}}({{DEFAULT_VALUE}})
                .build();
        initialize({{ATTRIBUTE_VAR}}, {{ATTRIBUTE_NAME}}.class);
    }

    @Override
    public String name() {
        return "{{ATTRIBUTE_NAME}}";
    }

    @Override
    public void setup() throws Exception {
        KmipContext.setSpec(spec);
    }

    @Override
    public void tearDown() {
        KmipContext.clear();
    }
}

