package org.purpleBean.kmip.codec.xml.deserializer.kmip.{{SUB_PATH}};

import com.fasterxml.jackson.core.JsonParser;
import com.fasterxml.jackson.core.JsonToken;
import com.fasterxml.jackson.databind.DeserializationContext;
import com.fasterxml.jackson.dataformat.xml.deser.FromXmlParser;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.codec.xml.deserializer.kmip.KmipDataTypeXmlDeserializer;
import org.purpleBean.kmip.common.{{ATTRIBUTE_NAME}};

import java.io.IOException;

/**
 * XML deserializer for {{ATTRIBUTE_NAME}}.
 */
public class {{ATTRIBUTE_NAME}}XmlDeserializer extends KmipDataTypeXmlDeserializer<{{ATTRIBUTE_NAME}}> {
    private final KmipTag kmipTag = {{ATTRIBUTE_NAME}}.kmipTag;
    private final EncodingType encodingType = {{ATTRIBUTE_NAME}}.encodingType;

    @Override
    public {{ATTRIBUTE_NAME}} deserialize(JsonParser p, DeserializationContext ctxt) throws IOException {
        if (p.currentToken() == null) {
            p.nextToken();
        }

        String currentName;
        if (p instanceof FromXmlParser xmlParser) {
            currentName = xmlParser.getStaxReader().getLocalName();
        } else {
            currentName = (String) ctxt.getAttribute("tag");
        }

        if (!kmipTag.getDescription().equalsIgnoreCase(currentName)) {
            ctxt.reportInputMismatch({{ATTRIBUTE_NAME}}.class, "Invalid Tag for {{ATTRIBUTE_NAME}}");
            return null;
        }

        if (p.currentToken() != JsonToken.START_OBJECT) {
            p.nextToken();
        }

        {{ATTRIBUTE_NAME}}.{{ATTRIBUTE_NAME}}Builder builder = {{ATTRIBUTE_NAME}}.builder();

        while (p.nextToken() != JsonToken.END_OBJECT) {
            if (p.currentToken() == JsonToken.FIELD_NAME) {
                String fieldName = p.currentName();

                p.nextToken(); // Move to the value token
                if ("type".equalsIgnoreCase(fieldName)) {
                    String type = p.getText();
                    if (!encodingType.getDescription().equals(type)) {
                        ctxt.reportInputMismatch({{ATTRIBUTE_NAME}}.class, "Missing or invalid 'type' attribute for {{ATTRIBUTE_NAME}}");
                        return null;
                    }
                }
                if ("value".equalsIgnoreCase(fieldName)) {
                    if (p.hasTextCharacters()) { // TODO: update validation based on type
                        ctxt.reportInputMismatch({{ATTRIBUTE_NAME}}.class,
                                "Missing or non-text 'value' for {{ATTRIBUTE_NAME}}");
                        return null;
                    }
                    // TODO: update with required java type
                    builder.value({{FIELD_TYPE}}.parse(p.getText()));
                }
            }
        }

        {{ATTRIBUTE_NAME}} {{ATTRIBUTE_VAR}} = builder.build();

        KmipSpec spec = KmipContext.getSpec();
        if (!{{ATTRIBUTE_VAR}}.isSupported()) {
            ctxt.reportInputMismatch({{ATTRIBUTE_NAME}}.class, "{{ATTRIBUTE_NAME}} not supported for spec " + spec);
            return null;
        }

        return {{ATTRIBUTE_VAR}};
    }
}
