package org.purpleBean.kmip.codec.ttlv.serializer.kmip.{{SUB_PATH}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.codec.ttlv.TtlvObject;
import org.purpleBean.kmip.codec.ttlv.mapper.TtlvMapper;
import org.purpleBean.kmip.codec.ttlv.serializer.kmip.KmipDataTypeTtlvSerializer;
import org.purpleBean.kmip.common.{{ATTRIBUTE_NAME}};

import java.io.IOException;
import java.nio.ByteBuffer;

public class {{ATTRIBUTE_NAME}}TtlvSerializer extends KmipDataTypeTtlvSerializer<{{ATTRIBUTE_NAME}}> {

    @Override
    public ByteBuffer serialize({{ATTRIBUTE_NAME}} {{ATTRIBUTE_VAR}}, TtlvMapper mapper) throws IOException {
        return serializeToTtlvObject({{ATTRIBUTE_VAR}}, mapper).toByteBuffer();
    }

    public TtlvObject serializeToTtlvObject({{ATTRIBUTE_NAME}} {{ATTRIBUTE_VAR}}, TtlvMapper mapper) throws IOException {
        if ({{ATTRIBUTE_VAR}} == null) {
            return null;
        }

        KmipSpec spec = KmipContext.getSpec();
        if (!{{ATTRIBUTE_VAR}}.isSupported()) {
            throw new IOException(
                String.format("%s is not supported for KMIP spec %s",
                {{ATTRIBUTE_VAR}}.getKmipTag().getDescription(), spec)
            );
        }

        byte[] tag = {{ATTRIBUTE_VAR}}.getKmipTag().getTagBytes();
        byte type = {{ATTRIBUTE_VAR}}.getEncodingType().getTypeValue();
        byte[] payload = mapper.writeValueAsByteBuffer({{ATTRIBUTE_VAR}}.getValue()).array();

        return TtlvObject.builder()
                .tag(tag)
                .type(type)
                .value(payload)
                .build();
    }
}
