package org.purpleBean.kmip.codec.xml.serializer.kmip.{{SUB_PATH}};

import com.fasterxml.jackson.core.JsonGenerator;
import com.fasterxml.jackson.databind.SerializerProvider;
import com.fasterxml.jackson.dataformat.xml.ser.ToXmlGenerator;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.codec.xml.serializer.kmip.KmipDataTypeXmlSerializer;
import org.purpleBean.kmip.common.{{ATTRIBUTE_NAME}};

import javax.xml.namespace.QName;
import java.io.IOException;
import java.io.UnsupportedEncodingException;

/**
 * XML serializer for {{ATTRIBUTE_NAME}}.
 */
public class {{ATTRIBUTE_NAME}}XmlSerializer extends KmipDataTypeXmlSerializer<{{ATTRIBUTE_NAME}}> {

    @Override
    public void serialize({{ATTRIBUTE_NAME}} {{ATTRIBUTE_VAR}}, JsonGenerator gen, SerializerProvider serializers) throws IOException {
        // Validation: KMIP spec compatibility
        KmipSpec spec = KmipContext.getSpec();
        if (!{{ATTRIBUTE_VAR}}.isSupported()) {
            throw new UnsupportedEncodingException(String.format("%s not supported for KMIP spec %s", {{ATTRIBUTE_VAR}}.getClass().getSimpleName(), spec));
        }

        if (!(gen instanceof ToXmlGenerator xmlGen)) {
            throw new IllegalStateException("Expected ToXmlGenerator");
        }

        // Start element with name from kmipTag
        String elementName = {{ATTRIBUTE_VAR}}.getKmipTag().getDescription();
        xmlGen.setNextName(QName.valueOf(elementName));
        xmlGen.writeStartObject({{ATTRIBUTE_VAR}});

        xmlGen.setNextIsAttribute(true);
        xmlGen.writeStringField("type", {{ATTRIBUTE_VAR}}.getEncodingType().getDescription());
        xmlGen.setNextIsAttribute(true);
        xmlGen.writeObjectField("value", {{ATTRIBUTE_VAR}}.getValue());
        xmlGen.writeEndObject();
    }
}
