package org.purpleBean.kmip.codec.{{CODEC_LOWER}}.{{SUB_PATH}};

import org.junit.jupiter.api.DisplayName;
import org.purpleBean.kmip.common.{{ATTRIBUTE_NAME}};
import org.purpleBean.kmip.test.suite.Abstract{{CODEC_PASCAL}}SerializationSuite;

import java.time.OffsetDateTime;

@DisplayName("{{ATTRIBUTE_NAME}} {{CODEC_PASCAL}} Serialization Tests")
class {{ATTRIBUTE_NAME}}{{CODEC_PASCAL}}Test extends Abstract{{CODEC_PASCAL}}SerializationSuite<{{ATTRIBUTE_NAME}}> {

    private static final {{FIELD_TYPE}} DEFAULT_VALUE = {{DEFAULT_VALUE}};

    @Override
    protected Class<{{ATTRIBUTE_NAME}}> type() {
        return {{ATTRIBUTE_NAME}}.class;
    }

    @Override
    protected {{ATTRIBUTE_NAME}} createDefault() {
        return {{ATTRIBUTE_NAME}}.of(DEFAULT_VALUE);
    }
}
