package org.purpleBean.kmip.{{SUB_PATH}};

import lombok.Builder;
import lombok.Data;
import lombok.NonNull;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.enumeration.State;

import java.util.Objects;
import java.util.Set;

/**
 * KMIP {{ATTRIBUTE_NAME}} attribute.
 */
@Data
@Builder(toBuilder = true)
public class {{ATTRIBUTE_NAME}} implements KmipDataType, KmipAttribute {
    public static final KmipTag kmipTag = new KmipTag(KmipTag.Standard.{{ATTRIBUTE_NAME_SNAKE}});
    public static final EncodingType encodingType = EncodingType.{{ENCODING_TYPE}};
    private static final Set<KmipSpec> supportedVersions = Set.of(KmipSpec.UnknownVersion, KmipSpec.V1_2);

    static {
        for (KmipSpec spec : supportedVersions) {
            if (spec == KmipSpec.UnknownVersion || spec == KmipSpec.UnsupportedVersion) continue;
            KmipDataType.register(spec, kmipTag.getValue(), encodingType, {{ATTRIBUTE_NAME}}.class);
            KmipAttribute.register(spec, kmipTag.getValue(), encodingType, {{ATTRIBUTE_NAME}}.class, {{ATTRIBUTE_NAME}}::of);
        }
    }

    @NonNull
    private final {{FIELD_TYPE}} {{FIELD_NAME}};

    public static {{ATTRIBUTE_NAME}} of(@NonNull {{FIELD_TYPE}} value) {
        return {{ATTRIBUTE_NAME}}.builder().{{FIELD_NAME}}(value).build();
    }

    public static {{ATTRIBUTE_NAME}} of(@NonNull AttributeName attributeName, @NonNull AttributeValue.Value attributeValue) {
        if (attributeValue.getEncodingType() != encodingType || !(attributeValue instanceof AttributeValue.{{ATTRIBUTE_VALUE_TYPE}} value)) {
            throw new IllegalArgumentException("Invalid attribute value");
        }
        return new {{ATTRIBUTE_NAME}}(value.getValue());
    }

    @Override
    public AttributeValue.Value getAttributeValue() {
        return AttributeValue.{{ATTRIBUTE_VALUE_TYPE}}.of({{FIELD_NAME}});
    }

    @Override
    public AttributeName getAttributeName() {
        return AttributeName.of(StringUtils.covertPascalToTitleCase(kmipTag.getDescription()));
    }

    @Override
    public String getCanonicalName() {
        return getAttributeName().getValue();
    }

    @Override
    public KmipTag getKmipTag() {
        return kmipTag;
    }

    @Override
    public EncodingType getEncodingType() {
        return encodingType;
    }

    @Override
    public boolean isSupported() {
        KmipSpec spec = KmipContext.getSpec();
        return supportedVersions.contains(spec);
    }

    @Override
    public boolean isAlwaysPresent() {
        return false;
    }

    @Override
    public boolean isServerInitializable() {
        return true;
    }

    @Override
    public boolean isClientInitializable() {
        return true;
    }

    @Override
    public boolean isServerModifiable(@NonNull State state) {
        // PRE_ACTIVE is modifiable by default, adjust as needed
        return state.getValue().getValue() == State.Standard.PRE_ACTIVE.getValue();
    }

    @Override
    public boolean isClientModifiable(@NonNull State state) {
        // PRE_ACTIVE is modifiable by default, adjust as needed
        return state.getValue().getValue() == State.Standard.PRE_ACTIVE.getValue();
    }

    @Override
    public boolean isClientDeletable() {
        return false;
    }

    @Override
    public boolean isMultiInstanceAllowed() {
        return false;
    }

    @Override
    public boolean equals(Object o) {
        if (this == o) return true;
        if (o == null || getClass() != o.getClass()) return false;
        {{ATTRIBUTE_NAME}} that = ({{ATTRIBUTE_NAME}}) o;
        return Objects.equals({{FIELD_NAME}}, that.{{FIELD_NAME}});
    }

    @Override
    public int hashCode() {
        return Objects.hash({{FIELD_NAME}});
    }
}
