package org.purpleBean.kmip.codec.ttlv.serializer.kmip.{{pdot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.codec.ttlv.serializer.kmip.AbstractKmipStructureTtlvSerializer;
import org.purpleBean.kmip.{{pdot}}.{{STRUCTURE_NAME}};

public class {{STRUCTURE_NAME}}TtlvSerializer extends AbstractKmipStructureTtlvSerializer<{{STRUCTURE_NAME}}> {
}
