package org.purpleBean.kmip.codec.xml.serializer.kmip.{{pdot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.{{pdot}}.{{STRUCTURE_NAME}};
import org.purpleBean.kmip.codec.xml.serializer.kmip.AbstractKmipStructureXmlSerializer;

public class {{STRUCTURE_NAME}}XmlSerializer extends AbstractKmipStructureXmlSerializer<{{STRUCTURE_NAME}}> {
}
