package org.purpleBean.kmip.codec.ttlv.deserializer.kmip.{{pdot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.model.*;
import org.purpleBean.kmip.model.core.enumeration.*;
import org.purpleBean.kmip.model.core.structure.*;
import org.purpleBean.kmip.model.core.type.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.codec.ttlv.deserializer.kmip.AbstractKmipStructureTtlvDeserializer;
import org.purpleBean.kmip.codec.ttlv.mapper.TtlvMapper;
import org.purpleBean.kmip.{{pdot}}.{{STRUCTURE_NAME}};

import java.io.IOException;

public class {{STRUCTURE_NAME}}TtlvDeserializer extends AbstractKmipStructureTtlvDeserializer<{{STRUCTURE_NAME}}, {{STRUCTURE_NAME}}.{{STRUCTURE_NAME}}Builder> {

    public {{STRUCTURE_NAME}}TtlvDeserializer() {
        super({{STRUCTURE_NAME}}.kmipTag);
    }

    @Override
    protected {{STRUCTURE_NAME}}.{{STRUCTURE_NAME}}Builder createBuilder() {
        return {{STRUCTURE_NAME}}.builder();
    }

    @Override
    protected void setValue({{STRUCTURE_NAME}}.{{STRUCTURE_NAME}}Builder builder, KmipTag.Value nodeTag, ByteBuffer p, TtlvMapper mapper) throws IOException {
        // TODO: Implement setting values on the builder based on the tag
        // switch (nodeTag) {
        //     case KmipTag.Standard.FIELD_1 -> builder.field1(mapper.readValue(p, Field1.class));
        //     case KmipTag.Standard.FIELD_2 -> builder.field2(mapper.readValue(p, Field2.class));
        //     default -> throw new IllegalArgumentException("Unsupported tag: " + nodeTag);
        // }
    }

    @Override
    protected {{STRUCTURE_NAME}} build({{STRUCTURE_NAME}}.{{STRUCTURE_NAME}}Builder builder) {
        return builder.build();
    }

    @Override
    protected EncodingType getEncodingType() {
        return {{STRUCTURE_NAME}}.encodingType;
    }
}
