package org.purpleBean.kmip.{{pdot}};

import org.junit.jupiter.api.DisplayName;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.api.*;
import org.purpleBean.kmip.model.core.enumeration.*;
import org.purpleBean.kmip.model.core.structure.*;
import org.purpleBean.kmip.model.core.type.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.test.BaseKmipTest;
import org.purpleBean.kmip.test.suite.KmipDataTypeTestSuite;

@DisplayName("{{DATA_NAME}} Domain Tests")
class {{DATA_NAME}}Test extends BaseKmipTest implements KmipDataTypeTestSuite<{{DATA_NAME}}> {

    @Override
    protected void setupDefaultSpec() {
        defaultSpec = KmipSpec.UnknownVersion;
    }

    @Override
    public Class<{{DATA_NAME}}> type() {
        return {{DATA_NAME}}.class;
    }

    @Override
    public {{DATA_NAME}} createDefault() {
        return {{DATA_NAME}}.of({{DEFAULT_VALUE}});
    }

    @Override
    public EncodingType expectedEncodingType() {
        return EncodingType.{{ENCODING_TYPE}};
    }
}
