package org.purpleBean.kmip.codec.json.serializer.kmip.{{pdot}};

import com.fasterxml.jackson.core.JsonGenerator;
import com.fasterxml.jackson.databind.SerializerProvider;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.codec.json.serializer.kmip.KmipDataTypeJsonSerializer;
import org.purpleBean.kmip.{{pdot}}.{{STRUCTURE_NAME}};

import java.io.IOException;
import java.io.UnsupportedEncodingException;
import java.util.List;

public class {{STRUCTURE_NAME}}JsonSerializer extends KmipDataTypeJsonSerializer<{{STRUCTURE_NAME}}> {

    @Override
    public void serialize({{STRUCTURE_NAME}} {{varname}}, JsonGenerator jsonGenerator, SerializerProvider serializerProvider) throws IOException {
        // Validation: Null check
        if ({{varname}} == null) {
            return;
        }

        // Validation: KMIP spec compatibility
        KmipSpec spec = KmipContext.getSpec();
        if (!{{varname}}.isSupported()) {
            throw new UnsupportedEncodingException(String.format("%s is not supported for KMIP spec %s", {{varname}}.getKmipTag().getDescription(), spec));
        }

        List<KmipDataType> fields = {{varname}}.getValues();
        // Validation: Field compatibility with KMIP spec
        for (KmipDataType field : fields) {
            if (field != null && !field.isSupported()) {
                throw new UnsupportedEncodingException(String.format("%s in %s is not supported for KMIP spec %s",
                        field.getKmipTag().getDescription(), {{varname}}.getKmipTag().getDescription(), spec));
            }
        }

        jsonGenerator.writeStartObject();
        jsonGenerator.writeObject({{varname}}.getKmipTag());
        jsonGenerator.writeStringField("type", {{varname}}.getEncodingType().getDescription());
        jsonGenerator.writeFieldName("value");
        jsonGenerator.writeStartArray();
        for (KmipDataType fieldValue : fields) {
            if (fieldValue != null) {
                jsonGenerator.writeObject(fieldValue);
            }
        }
        jsonGenerator.writeEndArray();
        jsonGenerator.writeEndObject();
    }
}
