package org.purpleBean.kmip.codec.{{format}}.{{pdot}};

import org.junit.jupiter.api.DisplayName;
import org.purpleBean.kmip.{{pdot}}.{{STRUCTURE_NAME}};
import org.purpleBean.kmip.test.suite.Abstract{{format_pascal}}SerializationSuite;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.common.structure.*;

import java.time.OffsetDateTime;
import java.time.ZoneOffset;

@DisplayName("{{STRUCTURE_NAME}} {{format_upper}} Serialization Tests")
class {{suite_name}} extends Abstract{{format_pascal}}SerializationSuite<{{STRUCTURE_NAME}}> {

    private static final OffsetDateTime FIXED_TIME = OffsetDateTime.of(2024, 1, 2, 3, 4, 5, 0, ZoneOffset.UTC);

    @Override
    protected Class<{{STRUCTURE_NAME}}> type() {
        return {{STRUCTURE_NAME}}.class;
    }

    @Override
    protected {{STRUCTURE_NAME}} createDefault() {
        // TODO: Update with actual default values for your structure
        ActivationDate activationDate = ActivationDate.builder().value(FIXED_TIME).build();
        State state = new State(State.Standard.ACTIVE);
        return {{STRUCTURE_NAME}}.builder()
            .activationDate(activationDate)
            .state(state)
            .build();
    }

    @Override
    protected {{STRUCTURE_NAME}} createVariant() {
        // TODO: Update with different values to test variations
        ActivationDate activationDate = ActivationDate.builder().value(FIXED_TIME.plusDays(1)).build();
        State state = new State(State.Standard.DEACTIVATED);
        return {{STRUCTURE_NAME}}.builder()
            .activationDate(activationDate)
            .state(state)
            .build();
    }
}
