package org.purpleBean.kmip.codec.xml.deserializer.kmip.{{pdot}};

import com.fasterxml.jackson.core.JsonParser;
import com.fasterxml.jackson.core.JsonToken;
import com.fasterxml.jackson.databind.DeserializationContext;
import com.fasterxml.jackson.dataformat.xml.deser.FromXmlParser;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.common.structure.*;
import org.purpleBean.kmip.codec.xml.deserializer.kmip.KmipDataTypeXmlDeserializer;
import org.purpleBean.kmip.{{pdot}}.{{STRUCTURE_NAME}};

import java.io.IOException;

public class {{STRUCTURE_NAME}}XmlDeserializer extends KmipDataTypeXmlDeserializer<{{STRUCTURE_NAME}}> {
    private final KmipTag kmipTag = {{STRUCTURE_NAME}}.kmipTag;

    @Override
    public {{STRUCTURE_NAME}} deserialize(JsonParser p, DeserializationContext ctxt) throws IOException {
        if (p.currentToken() == null) {
            p.nextToken();
        }

        String currentName;
        if (p instanceof FromXmlParser xmlParser) {
            currentName = xmlParser.getStaxReader().getLocalName();
        } else {
            currentName = (String) ctxt.getAttribute("tag");
        }

        if (!kmipTag.getDescription().equalsIgnoreCase(currentName)) {
            ctxt.reportInputMismatch({{STRUCTURE_NAME}}.class, "Invalid Tag for {{STRUCTURE_NAME}}");
            return null;
        }

        if (p.currentToken() != JsonToken.START_OBJECT) {
            p.nextToken();
        }

        KmipSpec spec = KmipContext.getSpec();
        {{STRUCTURE_NAME}}.{{STRUCTURE_NAME}}Builder builder = {{STRUCTURE_NAME}}.builder();

        while (p.nextToken() != null && p.currentToken() != JsonToken.END_OBJECT) {
            String fieldName = p.currentName();
            KmipTag.Value nodeTag = KmipTag.fromName(spec, fieldName);
            if (p.currentToken() == JsonToken.START_OBJECT) {
                p.nextToken();
                setValue(builder, nodeTag, p, ctxt);
            } else if (p.currentToken() == JsonToken.FIELD_NAME) {
                setValue(builder, nodeTag, p, ctxt);
            } else {
                ctxt.reportInputMismatch({{STRUCTURE_NAME}}.class, "Unexpected token: " + p.currentToken());
            }
        }

        {{STRUCTURE_NAME}} {{varname}} = builder.build();

        if (!{{varname}}.isSupported()) {
            ctxt.reportInputMismatch({{STRUCTURE_NAME}}.class, "{{STRUCTURE_NAME}} not supported for spec " + spec);
            return null;
        }

        return {{varname}};
    }

    private void setValue({{STRUCTURE_NAME}}.{{STRUCTURE_NAME}}Builder builder, KmipTag.Value nodeTag, JsonParser p, DeserializationContext ctxt) throws IOException {
        ctxt.setAttribute("tag", p.currentName());
        // TODO: Implement field deserialization based on nodeTag
        // Example:
        // switch (nodeTag) {
        //     case KmipTag.Standard.ACTIVATION_DATE -> builder.activationDate(ctxt.readValue(p, ActivationDate.class));
        //     case KmipTag.Standard.STATE -> builder.state(ctxt.readValue(p, State.class));
        //     default -> ctxt.reportWrongTokenException({{STRUCTURE_NAME}}.class, p.currentToken(), "Unexpected field " + p.currentName());
        // }
    }
}
