package org.purpleBean.kmip.codec.{{format}}.{{pdot}};

import org.junit.jupiter.api.DisplayName;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.api.*;
import org.purpleBean.kmip.model.core.enumeration.*;
import org.purpleBean.kmip.model.core.structure.*;
import org.purpleBean.kmip.model.core.type.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.{{pdot}}.{{NAME}};
import org.purpleBean.kmip.test.suite.Abstract{{format_pascal}}SerializationTestSuite;

@DisplayName("{{NAME}} {{format_pascal}} Serialization Tests")
class {{suite_name}} extends Abstract{{format_pascal}}SerializationTestSuite<{{NAME}}> {

    @Override
    public Class<{{NAME}}> type() {
        return {{NAME}}.class;
    }

    @Override
    public {{NAME}} createDefault() {
        return {{create_default}};
    }

    @Override
    public {{NAME}} createVariant() {
        return {{create_variant}};
    }
}
