package org.purpleBean.kmip.codec.json.serializer.kmip.{{pdot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.codec.json.serializer.AbstractKmipJsonSerializer;
import org.purpleBean.kmip.{{pdot}}.{{NAME}};

public class {{NAME}}JsonSerializer extends AbstractKmipJsonSerializer<{{NAME}}, {{SERIALIZED_TYPE}}> {

    public {{NAME}}JsonSerializer() {
        super({{SUPER_CALL}});
    }
}
