package org.purpleBean.kmip.codec.json.deserializer.{{pdot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.api.*;
import org.purpleBean.kmip.model.*;
import org.purpleBean.kmip.model.core.enumeration.*;
import org.purpleBean.kmip.model.core.structure.*;
import org.purpleBean.kmip.model.core.type.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.codec.json.deserializer.kmip.AbstractKmipDataTypeJsonDeserializer;
import org.purpleBean.kmip.{{pdot}}.{{NAME}};

public class {{NAME}}JsonDeserializer extends AbstractKmipJsonDeserializer<{{NAME}}, {{DESERIALIZED_TYPE}}> {

    public {{NAME}}JsonDeserializer() {
        super({{NAME}}.kmipTag, {{NAME}}.encodingType, {{DESERIALIZED_TYPE}}.class, {{SUPER_CALL}});
    }
}
