package org.purpleBean.kmip.codec.xml.deserializer.kmip.{{pdot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import java.math.BigInteger;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.time.ZoneOffset;
import org.purpleBean.kmip.codec.xml.deserializer.AbstractKmipXmlDeserializer;
import org.purpleBean.kmip.{{pdot}}.{{NAME}};

public class {{NAME}}XmlDeserializer extends AbstractKmipXmlDeserializer<{{NAME}}, {{DESERIALIZED_TYPE}}> {

    public {{NAME}}XmlDeserializer() {
        super({{NAME}}.kmipTag, {{NAME}}.encodingType, {{DESERIALIZED_TYPE}}.class, {{SUPER_CALL}});
    }
}
