package org.purpleBean.kmip.codec.ttlv.deserializer.kmip.{{pdot}};

import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;
import org.purpleBean.kmip.codec.ttlv.TtlvObject;
import org.purpleBean.kmip.codec.ttlv.TtlvConstants;
import org.purpleBean.kmip.codec.ttlv.deserializer.kmip.KmipDataTypeTtlvDeserializer;
import org.purpleBean.kmip.codec.ttlv.mapper.TtlvMapper;
import org.purpleBean.kmip.{{pdot}}.{{DATA_NAME}};

import java.io.IOException;
import java.nio.ByteBuffer;
import java.time.OffsetDateTime;
import java.util.Arrays;
import java.util.List;
import java.util.NoSuchElementException;

public class {{DATA_NAME}}TtlvDeserializer extends KmipDataTypeTtlvDeserializer<{{DATA_NAME}}> {
    private final KmipTag kmipTag = {{DATA_NAME}}.kmipTag;
    private final EncodingType encodingType = {{DATA_NAME}}.encodingType;

    @Override
    public {{DATA_NAME}} deserialize(ByteBuffer ttlvBuffer, TtlvMapper mapper) throws IOException {
        TtlvObject obj = TtlvObject.fromBuffer(ttlvBuffer);
        if (Arrays.equals(obj.getTag(), kmipTag.getTagBytes()) && obj.getType() != encodingType.getTypeValue()) {
            throw new IllegalArgumentException(String.format("Expected %s type for %s, got %s", encodingType.getTypeValue(), kmipTag.getDescription(), obj.getType()));
        }

        ByteBuffer bb = ByteBuffer.wrap(obj.getValue()).order(TtlvConstants.BYTE_ORDER);
        // TODO : update with required java type
        OffsetDateTime dt = mapper.readValue(bb, OffsetDateTime.class);
        {{DATA_NAME}} {{varname}} = {{DATA_NAME}}.builder().value(dt).build();

        KmipSpec spec = KmipContext.getSpec();

        if (!{{varname}}.isSupported()) {
            throw new NoSuchElementException(String.format("{{DATA_NAME}} not supported for spec %s", spec));
        }
        return {{varname}};
    }
}
