package org.purpleBean.kmip.codec.{{format}}.{{pdot}};

import org.junit.jupiter.api.DisplayName;
import org.purpleBean.kmip.{{pdot}}.{{DATA_NAME}};
import org.purpleBean.kmip.test.suite.Abstract{{format_pascal}}SerializationSuite;
import org.purpleBean.kmip.*;
import org.purpleBean.kmip.common.*;
import org.purpleBean.kmip.common.enumeration.*;

import java.time.OffsetDateTime;
import java.time.ZoneOffset;

@DisplayName("{{DATA_NAME}} {{format_upper}} Serialization Tests")
class {{suite_name}} extends Abstract{{format_pascal}}SerializationSuite<{{DATA_NAME}}> {

    private static final OffsetDateTime FIXED_TIME = OffsetDateTime.of(2024, 1, 2, 3, 4, 5, 0, ZoneOffset.UTC);

    @Override
    protected Class<{{DATA_NAME}}> type() {
        return {{DATA_NAME}}.class;
    }

    @Override
    protected {{DATA_NAME}} createDefault() {
        // TODO: Update with actual default values for your dataType
        return {{DATA_NAME}}.builder().value(FIXED_TIME).build();
    }

    @Override
    protected {{DATA_NAME}} createVariant() {
        // TODO: Update with different values to test variations
        return {{DATA_NAME}}.builder().value(FIXED_TIME.plusDays(1)).build();
    }
}
