package org.purpleBean.kmip.benchmark.subjects.{{pdot}};

import lombok.Getter;
import org.purpleBean.kmip.KmipContext;
import org.purpleBean.kmip.KmipSpec;
import org.purpleBean.kmip.benchmark.api.KmipBenchmarkSubject;
import org.purpleBean.kmip.{{pdot}}.{{ENUM_NAME}};

public class {{ENUM_NAME}}BenchmarkSubject extends KmipBenchmarkSubject<{{ENUM_NAME}}> {

    @Getter
    private KmipSpec spec = KmipSpec.V1_2;

    public {{ENUM_NAME}}BenchmarkSubject() throws Exception {
        {{ENUM_NAME}} {{var_name}} = new {{ENUM_NAME}}({{ENUM_NAME}}.Standard.PLACEHOLDER_1);
        initialize({{var_name}}, {{ENUM_NAME}}.class);
    }

    @Override
    public String name() {
        return "{{ENUM_NAME}}";
    }

    @Override
    public void setup() throws Exception {
        KmipContext.setSpec(spec);
    }

    @Override
    public void tearDown() {
        KmipContext.clear();
    }
}
