package org.purpleBean.kmip.codec.{{format}}.{{pdot}};

import org.junit.jupiter.api.DisplayName;
import org.purpleBean.kmip.{{pdot}}.{{ENUM_NAME}};
import org.purpleBean.kmip.test.suite.Abstract{{format_pascal}}SerializationSuite;

@DisplayName("{{ENUM_NAME}} {{format_upper}} Serialization")
class {{ENUM_NAME}}{{format_pascal}}Test extends Abstract{{format_pascal}}SerializationSuite<{{ENUM_NAME}}> {
    @Override
    protected Class<{{ENUM_NAME}}> type() {
        return {{ENUM_NAME}}.class;
    }

    @Override
    protected {{ENUM_NAME}} createDefault() {
        return new {{ENUM_NAME}}({{ENUM_NAME}}.Standard.PLACEHOLDER_1);
    }

    @Override
    protected {{ENUM_NAME}} createVariant() {
        return new {{ENUM_NAME}}({{ENUM_NAME}}.Standard.PLACEHOLDER_2);
    }
}
