package org.purpleBean.kmip.codec.xml.deserializer.kmip.{{pdot}};

import com.fasterxml.jackson.core.JsonParser;
import com.fasterxml.jackson.core.JsonToken;
import com.fasterxml.jackson.databind.DeserializationContext;
import com.fasterxml.jackson.dataformat.xml.deser.FromXmlParser;
import org.purpleBean.kmip.EncodingType;
import org.purpleBean.kmip.KmipContext;
import org.purpleBean.kmip.KmipSpec;
import org.purpleBean.kmip.KmipTag;
import org.purpleBean.kmip.codec.xml.deserializer.kmip.KmipDataTypeXmlDeserializer;
import org.purpleBean.kmip.{{pdot}}.{{ENUM_NAME}};

import java.io.IOException;
import java.util.NoSuchElementException;

/**
 * XML deserializer for {{ENUM_NAME}}.
 */
public class {{ENUM_NAME}}XmlDeserializer extends KmipDataTypeXmlDeserializer<{{ENUM_NAME}}> {
    private final KmipTag kmipTag = {{ENUM_NAME}}.kmipTag;
    private final EncodingType encodingType = {{ENUM_NAME}}.encodingType;

    @Override
    public {{ENUM_NAME}} deserialize(JsonParser p, DeserializationContext ctxt) throws IOException {
        if (p.currentToken() == null) {
            p.nextToken();
        }

        String currentName;
        if (p instanceof FromXmlParser xmlParser) {
            currentName = xmlParser.getStaxReader().getLocalName();
        } else {
            currentName = (String) ctxt.getAttribute("tag");
        }

        if (!kmipTag.getDescription().equalsIgnoreCase(currentName)) {
            ctxt.reportInputMismatch({{ENUM_NAME}}.class, "Invalid Tag for {{ENUM_NAME}}");
            return null;
        }

        if (p.currentToken() != JsonToken.START_OBJECT) {
            p.nextToken();
        }

        String description = null;

        while (p.nextToken() != JsonToken.END_OBJECT) {
            if (p.currentToken() == JsonToken.FIELD_NAME) {
                String fieldName = p.currentName();

                p.nextToken(); // Move to the value token
                if ("type".equalsIgnoreCase(fieldName)) {
                    String type = p.getText();
                    if (!encodingType.getDescription().equals(type)) {
                        ctxt.reportInputMismatch({{ENUM_NAME}}.class, "Missing or invalid 'type' attribute for {{ENUM_NAME}}");
                        return null;
                    }
                }
                if ("value".equalsIgnoreCase(fieldName)) {
                    if (p.hasTextCharacters()) {
                        ctxt.reportInputMismatch({{ENUM_NAME}}.class,
                                "Missing or non-text 'value' for {{ENUM_NAME}}");
                        return null;
                    }
                    description = p.getText();
                }
            }
        }

        if (description == null) {
            ctxt.reportInputMismatch({{ENUM_NAME}}.class, "Missing 'value' for {{ENUM_NAME}}");
            return null;
        }

        KmipSpec spec = KmipContext.getSpec();

        {{ENUM_NAME}} {{enum_lower}} = new {{ENUM_NAME}}({{ENUM_NAME}}.fromName(description));
        if (!{{enum_lower}}.isSupported()) {
            throw new NoSuchElementException(
                String.format("{{ENUM_NAME}} '%s' not supported for spec %s", description, spec));
        }

        return {{enum_lower}};
    }
}
